<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NDM04(Темы для обсуждения)</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">	
</head>

<body bgcolor="FDF5B6" background="nubex.png">
     <font style="color: red; font-size: 22px">

        <h1><center>Темы для обсуждения</center></h1>

       <h2><center>сайт Экспертиза НМК - NDM04, version 04</center></h2>
       <h4><center>templates/tema01.html</center></h4>
	<font style="color: indigo; font-size: 12px">
	<p>    Сегодня {% now "j/m/Y" %}</p>
    <p>    Вы зашли на эту страницу в {% now "H:i:s" %} (Московское время)</p>
	<img src="{% static 'images/фотоНеопределенность.jpg' %}" align="left" hspace="20" style="width:300px; height:450px;"  align="absmiddle">
<!вывод инфl >
       <!-- Это встроенный стиль -->
     <!font style="color: red">

     <font style="color: blue; font-size: 16px">
	<p> </p> 

    <p><left><strong><em> 
	Тема: расчеты неопределенностей в НМК.   
	<p>На форуме сайта «Дефектоскопист.ру» время от времени возникают 
	вопросы о расчетах неопределенностей в НМК. Например:</p>
	<p> - Здравствуйте! Помогите, пожалуйста, с расчётами неопределенности по РГК,
	УЗК и КК...</p>
	<p> - Добрый день! Подскажите, может у кого есть методика расчета неопределенности
 при проведении капиллярного контроля? Требует наш БГЦА. Капиллярный контроль 
 проводится по СТБ 1172-99…</p>
	<p> Ответ:</p> 
	<p> 1. Пункт 1.1 ГОСТ Р 54500.3—2011"НЕОПРЕДЕЛЕННОСТЬ ИЗМЕРЕНИЯ" сообщает: 
"Настоящее Руководство устанавливает общие правила оценивания и выражения 
неопределенности измерения, которые следует соблюдать при измерениях разной
 точности и в разных областях — от технических измерений на производстве 
 до фундаментальных научных исследований.</p> 
	<p> 2. Согласно требований СТБ 1172-99 "Контроль неразрушающий.
КОНТРОЛЬ ПРОНИКАЮЩИМИ ВЕЩЕСТВАМИ (КАПИЛЛЯРНЫЙ) Основные положения" имеем:</p> 
	<p> 4.1 Общие сведения. Метод контроля проникающими веществами (капиллярный) — это
 метод выявления поверхностных и сквозных несплошностей материала объекта 
 контроля, основанный на капиллярном проникновении в них индикаторной жидкости
 (пенетранта) и регистрации образующихся индикаторных рисунков, полученных, 
 как правило, в результате последующего полного или частичного извлечения 
 жидкости на поверхность, оптико-визуальным способом или с помощью преобразователя.</p> 	
	<p> 6.7 Выявление дефектов</p>
	<p> 6.7.1 Общие сведения. Обнаружение дефектов представляет собой сочетание или
 отдельное использование способов наблюдения и регистрации индикаторных рисунков.</p>
	<p> 3. Выводы: не будем путать измерение физических величин объекта (например,
 измерение толщины стенки методом УЗТ) с выявлением = наблюдением и регистрацией
 неких сущностей = индикаторных рисунков, которые свидетельствуют о наличии 
 других сущностей = поверхностных и сквозных несплошностей. 
</p>






</em></strong></center></p>
 
	<font style="color: indigo; font-size: 16px">
	<p><center>><strong><em> 
	Имя автора сайта - Евгений. Общение с автором в данный период 
	возможно через электронную почту: golubevevg@yandex.ru                 
	</em></strong></center></p>


    <h2><button class="btn-location" onclick="alert('Перенаправляем ...'); location.href = 'https://defektoskopist.ru/forums/';">defektoskopist.ru</button>
	<button class="btn-location" onclick="alert('Перенаправляем ...'); location.href = '/';">ГЛАВНАЯ</button>

    <button class="btn-location" onclick="alert('Перенаправляем ...'); location.href = '/about';">О сайте</button></h2>

	<p>               </p>



    

</body>
</html>



