
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> панорама </title>


    <link href="{% static 'css/styles.css' %}" rel="stylesheet">	
</head>
<body bgcolor="#FDF5B6" background="nubex.png">

    <h1>ГОСТ Р 50.05.07—2018</h1>
    <h2>templates/polls/панорама.html</h2>
    <img src="{% static 'images/image112.jpg' %}"	
    
<!вывод инфl>
    <p>               </p>


    <p>{% now "j/m/Y" %}</p>
    <p>{% now "H:i:s" %} плюс 3 часа (Московское время)</p>
    
    <p>               </p>
    <p>****************************************************************************               </p>
    
панорама
    <p>               </p>
    <p>****************************************************************************               </p>
    
Схема просвечивания - рисунок 3е ГОСТ Р 50.05.07—2018.
Фокусное расстояние f, мм, не менее - 0,7c(D - d)(для кольцевого сварного соединения);
D и d — наружный и внутренний диаметры контролируемого сварного соединения, мм;
Ф — размер фокусного пятна или активной части; k - чувствительность контроля; с = 2Ф/k;
h - усиление сварного шва, мм.


<p>               </p>	


<p>               </p>	
    <form method="POST">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Отправить" >
</form>


       <h2><button class="btn-location" onclick="alert('Перенаправляем ...'); location.href = '/';">вернуться на ГЛАВНУЮ</button></h2>


</body>
</html>


